## Artıklar ve Makine Öğrenmesindeki Önemi

In [56]:
from sklearn.metrics import mean_squared_error, r2_score

In [57]:
import pandas as pd
ad = pd.read_csv("Advertising.csv", usecols = [1,2,3,4])
df = ad.copy()

In [58]:
from sklearn.linear_model import LinearRegression

In [59]:
X = df[["TV"]]
y = df["sales"]
reg = LinearRegression()
model = reg.fit(X, y)

In [ ]:
mse = mean_squared_error(y, model.fittedvalues)
mse

In [ ]:
import numpy as np
rmse = np.sqrt(mse)
rmse

3.2423221486546887

In [ ]:
# reg.predict(X)[0:10]
model.predict(X)[0:10]

array([17.97077451,  9.14797405,  7.85022376, 14.23439457, 15.62721814,
        7.44616232,  9.76595037, 12.74649773,  7.44140866, 16.53041431])

In [ ]:
y[0:10]

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
5     7.2
6    11.8
7    13.2
8     4.8
9    10.6
Name: sales, dtype: float64

In [ ]:
k_t = pd.DataFrame({"gercek_y": y[0:10],
                   "tahmin_y": reg.predict(X)[0:10]})

k_t

   gercek_y   tahmin_y
0      22.1  17.970775
1      10.4   9.147974
2       9.3   7.850224
3      18.5  14.234395
4      12.9  15.627218
5       7.2   7.446162
6      11.8   9.765950
7      13.2  12.746498
8       4.8   7.441409
9      10.6  16.530414

In [ ]:
k_t["hata"] = k_t["gercek_y"] - k_t["tahmin_y"]
k_t

   gercek_y   tahmin_y      hata
0      22.1  17.970775  4.129225
1      10.4   9.147974  1.252026
2       9.3   7.850224  1.449776
3      18.5  14.234395  4.265605
4      12.9  15.627218 -2.727218
5       7.2   7.446162 -0.246162
6      11.8   9.765950  2.034050
7      13.2  12.746498  0.453502
8       4.8   7.441409 -2.641409
9      10.6  16.530414 -5.930414

In [ ]:
k_t["hata_kare"] = k_t["hata"]**2
k_t

   gercek_y   tahmin_y      hata  hata_kare
0      22.1  17.970775  4.129225  17.050503
1      10.4   9.147974  1.252026   1.567569
2       9.3   7.850224  1.449776   2.101851
3      18.5  14.234395  4.265605  18.195390
4      12.9  15.627218 -2.727218   7.437719
5       7.2   7.446162 -0.246162   0.060596
6      11.8   9.765950  2.034050   4.137358
7      13.2  12.746498  0.453502   0.205664
8       4.8   7.441409 -2.641409   6.977040
9      10.6  16.530414 -5.930414  35.169814

In [ ]:
np.sum(k_t["hata_kare"])

92.90350329638102

In [ ]:
np.mean(k_t["hata_kare"])

9.290350329638102

In [ ]:
np.sqrt(np.mean(k_t["hata_kare"]))

3.048007599996775

In [ ]:
# model.resid[0:10]

In [ ]:
# import matplotlib.pyplot as plt
# plt.plot(model.resid)